---
title: Empfohlene Lektüre
layout: splash
permalink: /recommendations
header:
    overlay_filter: rgba(15, 80, 180, 0.5)
    overlay_image: /images/splash/books-header-tom-hermans.jpg
    caption: "Photo: [**Tom Hermans**](https://unsplash.com/@tomhermans)"

excerpt: "Buch- und Link-Tipps"

rec-one:
    - title: "Software Architecture Foundation - 2nd edition"
      url: "https://www.vanharen.store/standards/enterprise-architecture/software-architecture-foundation-2nd-edition#"
      image_path: "/images/books/SWAF-2nd-cover.webp"
      alt: "Software Architecture Foundation - 2nd edition - Bookcover"
      btn_label: "Hier lesen"
      btn_class: btn--info
      excerpt: "
<b>Alexander Lorz, Gernot Starke</b><br>
Dieses Buch enthält alles, was Sie brauchen, um die iSAQB© Certified Professional for Software Architecture - Foundation Level (CPSA-F) Zertifizierung zu meistern.
Dieses international anerkannte Ausbildungs- und Zertifizierungsschema definiert verschiedene Lernpfade für praktische Softwarearchitekt*Innen.
"

rec-two:
    - title: "arc42 by Example"
      url: "https://leanpub.com/arc42byexample"
      image_path: "/images/books/arc42-by-example-3rd.webp"
      alt: "arc42 by Example - Bookcover"
      btn_label: "Hier lesen"
      btn_class: btn--info
      excerpt: "
<b>Gernot Starke, Michael Simons, Stefan Zörner, Ralf D. Müller und Hendrik Lösch</b><br>
Dieses Buch enthält mehrere Software-Architekturen aus der Praxis, die mit der praktischen arc42-Vorlage dokumentiert sind.
Sie werden das Innenleben einer Schach-Engine, eines riesigen CRM-Systems, eines coolen Websystems zur Verfolgung von Fahrradaktivitäten und einer extrem kleinen Menüleistenanwendung kennenlernen.
"

hard-parts:
    - title: "Software Architecture - The Hard Parts"
      url: "https://www.oreilly.com/library/view/software-architecture-the/9781492086888/"
      image_path: "/images/books/architecture-hard-parts.png"
      alt: "SWA-the-hard-parts - Bookcover"
      btn_label: "Hier lesen"
      btn_class: btn--info    
      excerpt: "
<b>Neal Ford, Mark Richards, Pramod Sadalage, Zhamak Dehghani</b><br>
O'Reilly 2021.
Architekturen entwerfen für Fortgeschrittene - das fasst den Inhalt auf kürzest mögliche Weise zusammen.
"

---

{% include feature_row_recs id="rec-one" type="left" %}

{% include feature_row_recs id="rec-two" type="right" %}

{% include feature_row_recs id="hard-parts" type="left" %}
