{% assign position_class = include.position | default: "right" %}
{% assign anchor_id = include.anchor_id | default: "msa" %}
{% assign sold_out = include.sold_out | default: false %}
{% assign trainer = include.trainer | default: "Peter Hruschka und Gernot Starke" %}

<div class="container {{ position_class }}" id="{{ anchor_id }}"> 
    <div class="content"{% if sold_out %} style="color:darkgrey"{% endif %}>
        {{ include.date }}, {{ include.location }}<br>
        <strong class="blue-head">Mastering Software Architectures<br> 
        (iSAQB CPSA-Foundation)
        </strong> 
        <p>
            Mit dem "dynamischen Duo" {{ trainer }}.
            Die perfekte Vorbereitung auf die iSAQB Foundation Zertifizierung.
        </p>
        
        {% if sold_out %}
            <p style="color:red;">(Ausgebucht, nur noch Warteliste)</p>
        {% endif %}
        
        {% if include.few_seats %}
            <p style="font-weight: bold; color: #ff6600;">{{ include.few_seats }}</p>
        {% endif %}
        
        {% if include.pricing %}
            <p class="date-small">
                {{ include.pricing }}
            </p>
        {% endif %}
        
        <a href="info-msa"><button class="button buttonMSA">Mehr Info</button></a>
        {% unless sold_out %}
            <a href="anmeldung"><button class="button buttonAnmeldung">Anmeldung</button></a>
        {% endunless %}
    </div>
</div>
