{% assign position_class = include.position | default: "right" %}
{% assign anchor_id = include.anchor_id | default: "adoc" %}

<div class="container {{ position_class }}" id="{{ anchor_id }}">  
    <div class="content">
        {{ include.date }}, {{ include.location }}<br>
        <strong class="blue-head">ADOC <br>(CPSA-Advanced)</strong><br>
        <p>Effektive und sparsame Architekturdokumentation (mit Schwerpunkt arc42)</p>
        <p>Mit dem "dynamischen Duo" Peter Hruschka und Gernot Starke.</p>
        <p class="date-small">
            Normalpreis: € 2200,- (für unsere Alumni € 2050.-)
        </p>
        <a href="info-adoc"><button class="button buttonAdoc">Mehr Info</button></a>
        <a href="anmeldung"><button class="button buttonAnmeldung">Anmeldung</button></a>
    </div>
</div>