strong.blue-head {
    color: DarkBlue;
}

strong.booked-out {
    color: Crimson;
}

p.date-small {
    font-size-adjust: 0.4;
}

button.msa {
    width: 76%;
}

@media screen and (min-width: 1200px) {
    button.button25 {
        width:25%;
    }
}

@media screen and (max-width: 750px) {
    button.msa {
        width: 95%;
    }
}



.supported-by-innoq {
    margin-bottom: 8px;
    width: 110px;
}

.supported-by-innoq:hover {
    opacity: 0.8;
}


@media (max-width: 900px) {
    .supported-by-innoq {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .supported-by-innoq {
        width: 90px;
    }
}



.footer-center {
    text-align: center;
    font-size: 80%;
}

.copyright-size {
    font-size: 60% !important;
}


.mobile {
  display: none;
}

@media (max-width: 767px) {
  .mobile {
    display: block;
    /* Add other properties here */
  }
}